{% extends 'app.twig' %}

{% block content %}

<h1><font color="red" face="arial" size="25">Nous contacter </font></h1>

<div align="center">
<h3><font color="blue" face="arial">LAPIN Audrine</font></h3>
<h4><font color="blue" face="arial">audrinelapin@gmail.com</font></h4> </br> </br>
</div>

<form action="" method="">
	<fieldset>
		<img class="img-circle center-block" src="/images/disponible.jpg" alt="Generic placeholder image" width="140" height="140">
		<h5 align="center"><B>Bientôt disponible!</B></h5> </br></br>
		<legend class="center-block" >Formulaire de contact bientôt disponible</legend>
		<label for="email" style="display:inline-block;width:100px;"><strong>Votre Email:</strong></label> <input type="text" name="email" id="email" /><br />
		<label for="sujet" style="display:inline-block;width:100px;"><strong>Sujet:</strong></label> <input type="text" name="sujet" id="sujet" /><br />
		<label for="message"><strong>Message:</strong></label><br />
		<textarea cols="70" rows="4" name="message" id="message"></textarea><br />
		<!--<input type="submit" value="Envoyer" />-->
	</fieldset>
</form>

{% endblock %}