<nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toogle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="/"><img src="/images/icone.jpg"></a>-->
                    <a class="navbar-brand" href="/">WebServiceEvent</a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">


                        <li><a href="/">Accueil</a></li>
                        <li><a href="/gest/soiree">Soirées</a></li>
                        


                        {% if daouser.check %}

                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ daouser.user.pseudo }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path_for('auth.password.change') }}">Changer mon mot de passe</a></li>
                                <li><a href="{{ path_for('auth.deconnection') }}">Déconnexion</a></li>
                                <li><a href="{{ path_for('auth.supression') }}">Suprimer mon compte</a></li>
                            </ul>
                        </li>

                        {% else %}

                            <li><a href="{{ path_for('auth.inscription') }}">Inscription</a></li>
                            <li><a href="{{ path_for('auth.connection') }}">Connexion</a></li>

                        {% endif %}



                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->





       


