<nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-footer">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toogle navigation</span>
                        <span class="icon-bar"></span>
                        
                    </button>
                    <a class="navbar-brand" href="/">WebServiceEvent</a>
                </div>
				
                

                <div class="collapse navbar-collapse navbar-right">
                    <ul>
                    <a class="navbar-brand">©Audrine LAPIN - Projet ESIEA 2016</a>

                    </ul>

                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

