{% extends 'app.twig' %}

{% block content %}


	<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<div class="panel panel-default">
			<div class="panel-heading" align="center"><B><font color="blue" size="4">Modifier mon mot de passe</font></B></div>
			<div class="panel-body">

				<form action="{{ path_for('auth.password.change') }}" method="post" autocomplete="off">


					<div class="form-group{{ errors.password_old ? ' has-error' : '' }}">
						<label for="password_old">Mot de passe actuel</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="password" name="password_old" id="password_old" class="form-control">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						</div>
						{% if errors.password_old %}
						<span class="help-block">{{ errors.password_old | first }}</span>
						{% endif %}
					</div>


					<div class="form-group{{ errors.password ? ' has-error' : '' }}">
						<label for="password">Nouveau mot de passe</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="password" name="password" id="password" class="form-control">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						</div>
						{% if errors.password %}
						<span class="help-block">{{ errors.password | first }}</span>
						{% endif %}
					</div>	

					
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary center-block">Modifier</button>
					</div>

					{{ csrf.field | raw }}

				</form>
			</div>

		</div>
			
	</div>


{% endblock %}