{% extends 'app.twig' %}

{% block content %}

      
     


           <h1 align="center"><I><font color="red" face="arial" size="25"> {{ soiree.titre }} </font></I></h1> <br /> <br /> 
            
            <div>
            <img class="img" src="/images/{{soiree.image}}" alt="Generic placeholder image" width="500" height="500" align="right">
            <font face="arial" size="4">
            <i class="glyphicon glyphicon-calendar"></i><strong>Date</strong> : {{ soiree.date }} <br><br>
            <i class="glyphicon glyphicon-dashboard"></i><strong>Heure</strong> : {{ soiree.heure }} <br><br>
            <i class="glyphicon glyphicon-map-marker"></i></cite></small><strong>Lieu</strong> : {{ soiree.lieu }}<br><br> 
            <strong>Description</strong> :
            </font>
            <br><br><textarea readonly rows="20" cols="80">{{ soiree.description }}</textarea>  <br />
            </div>
            
            <br><br>
            
            {% if afficher_bouton == true %}
            <p align="center"><a class="btn btn-default" href="/gest/modifier?id_soiree={{ soiree.id }}" role="button" style="background-color:#01B0F0">Modifier</a>
            <a class="btn btn-default" href="/gest/delete?id_soiree={{ soiree.id }}" role="button" style="background-color:#01B0F0">Supprimer</a></p>
            {% endif %}
            
         
            



{% endblock %}