{% extends 'app.twig' %}


{% block content %}


<img class="img-circle center-block" src="/images/icone.jpg" alt="Generic placeholder image" width="140" height="140">


<h1 align="center"><I><font color="red" face="arial" size="25">Nos Soirées </font></h1>

<p>{{ search }}</p>
<br> <br> <br>
            
<form class="navbar-form navbar-right inline-form" method="get" action="{{ path_for('gest.soiree') }}">

            <div class="form-group">
              <input type="search" name="titre" class="input-sm form-control" placeholder="Nom Soirée">
              <i class="icon icon-search"></i>
            </div>
            <div class="form-group">
              <input type="search" name="lieu" class="input-sm form-control" placeholder="Lieu">
              <i class="icon icon-search"></i>
            </div>
            <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
</form>

<br> <br> <br> <br /> <br /> 

<div class="row">
   

        {% for soirees in soirees  %}
   
            <div class="col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">

                        <div class="col-sm-4 col-md-4">
                            <img src="/images/{{soirees.image}}" alt="" class="img-rounded img-responsive " width="140" height="140" />
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <blockquote>
                                <p>{{ soirees.titre }}</p> <small><cite title="Source Title">{{ soirees.lieu }}  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                            </blockquote>
                            <p> <i class="glyphicon glyphicon-calendar"></i> {{ soirees.date }}
                            <br/> <i class="glyphicon glyphicon-dashboard"></i> {{ soirees.heure }} </p>
                            <br>
                
                            <p><a class="btn btn-default" href="/gest/soiree/{{ soirees.id }}" role="button" style="background-color:#01B0F0">Voir plus &raquo;</a></p>
                        </div>   

                     </div>
                </div>
            </div>           
       
        {% endfor %} 

   
</div>

    



<br>

<h3>Calendrier </h3>


<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='date' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

