<DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
	<title>WebServiceEvent</title>
	<link href="../../css/carousel.css" rel="stylesheet" type='text/css'>
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="/../css/ie10-viewport-bug-workaround.css" rel="stylesheet" type='text/css'>
    <script src="/../js/ie-emulation-modes-warning.js"></script>
	
	
</head>
<body background="/images/background.jpg">

	{% include 'partiels/navigation.twig' %}

	<div class="container">
		{% include 'partiels/flash.twig' %}
		{% block content %}{% endblock %}
	</div>
	
	
    
 
	<script type="text/javascript" src="/../bower_components/moment/min/moment.min.js"></script>
  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="/../js/bootstrap.min.js"></script>
    <script src="/../js/holder.min.js"></script>
    <script src="/../js/ie10-viewport-bug-workaround.js"></script>
 
	{% include 'partiels/navigation2.twig' %}
  
</body>
</html>