{% extends 'app.twig' %}

{% block content %}



   <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="myCarousel" data-slide-to="1"></li>
        <li data-target="myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
              <img class="first-slide" src="images/test.jpg" alt="First slide">
          <div class="container">
          </div>
        </div>

        <div class="item">
          <img class="second-slide" src="images/Soiree2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <!-- <h1>Soirée 2</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
             <!-- <p><a class="btn btn-lg btn-primary" href="" role="button">Voir plus</a></p> -->
            </div>
          </div>
        </div>

        <div class="item">
          <img class="third-slide" src="images/soiree3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <!-- <h1 style="#E6E6E6">Soirée 3</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
              <!-- <p><a class="btn btn-lg btn-primary" href="" role="button">Voir plus</a></p> -->
            </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


   
   <!-- ================================================== -->
    

    <div class="container marketing">

     
      <div class="row" id="">
        <div class="col-lg-4">
          <img class="img-circle" src="images/danse.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Nos Soirées</h2>
          <p>Vous voulez vous détendre? Consultez toutes les soirées du moment afin de n'en raté auccune. Des soirées, concerts et spectacles aussi variés les uns que les autres.</p>
          <p><a class="btn btn-default" href="{{ path_for('gest.soiree') }}" role="button">Voir plus &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img class="img-circle" src="images/ajouter.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Ajouter une soirée</h2>
          <p>Accune soirée ne vous correspond? Vous voulez organisez votre propre soirée? Mettez la en ligne pour qu'il y est un maximum de personne qui y participe.</p>
          <p><a class="btn btn-default" href="{{ path_for('ajout.ajoutSoiree') }}" role="button">Ajouter &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

         <div class="col-lg-4">
          <img class="img-circle" src="images/forum.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Contact</h2>
          <p>Des problèmes rencontrés, des avis à partager, des idées à nous proposer, contactez nous!</p>
          <p><a class="btn btn-default" href="{{ path_for('about.contact') }}" role="button">Contactez-nous &raquo;</a></p>
        </div> 

      </div>

   
{% endblock %}