{% extends 'app.twig' %}

{% block content %}


	<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<div class="panel panel-default">
			<div class="panel-heading" align="center"><B><font color="blue" size="4">Connexion</font></B></div>
			<div class="panel-body">

				<form action="{{ path_for('auth.connection') }}" method="post" autocomplete="off">

					<img class="img-circle center-block" src="/images/login.jpg" alt="Generic placeholder image" width="140" height="140">

					<br>

					<div class="form-group{{ errors.email ? ' has-error' : '' }}">
						<label for="email">Email</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="text" name="email" id="email" placeholder="toi@domaine.com" class="form-control" value="{{ old.email }}">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						</div>
						{% if errors.email %}
						<span class="help-block">{{ errors.email | first }}</span>
						{% endif %}
					</div>


					<div class="form-group{{ errors.password ? ' has-error' : '' }}">
						<label for="password">Mot de passe</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="password" name="password" id="password" class="form-control">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						</div>
						{% if errors.password %}
						<span class="help-block">{{ errors.password | first }}</span>
						{% endif %}
					</div>	

					
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary center-block">Connexion</button>
					</div>

					{{ csrf.field | raw }}

				</form>

			</div>


		</div>


			
	</div>


{% endblock %}


				