{% extends 'app.twig' %}

{% block content %}


	<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<div class="panel panel-default">
			<div class="panel-heading" align="center"><B><font color="blue" size="4">Inscription</font></B></div>
			<div class="panel-body">

				<form action="{{ path_for('auth.inscription') }}" method="post" autocomplete="off">


					<img class="img-circle center-block" src="/images/inscription.jpg" alt="Generic placeholder image" width="140" height="140">

					<br>
					
					<div class="form-group{{ errors.pseudo ? ' has-error' : '' }}">
						<label for="pseudo">Nom d'utilisateur</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="text" name="pseudo" id="pseudo" placeholder="Didine" class="form-control" value="{{ old.pseudo }}">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span></div>
						{% if errors.pseudo %}
						<span class="help-block">{{ errors.pseudo | first }}</span>
						{% endif %}
					</div>

					<div class="form-group{{ errors.nom ? ' has-error' : '' }}">
						<label for="name">Nom</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="text" name="nom" id="nom" placeholder="Lapin" class="form-control" value="{{ old.nom }}">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span></div>
						{% if errors.nom %}
						<span class="help-block">{{ errors.nom | first }}</span>
						{% endif %}
					</div>

					<div class="form-group{{ errors.prenom ? ' has-error' : '' }}">
						<label for="name">Prénom</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="text" name="prenom" id="prenom" placeholder="Audrine" class="form-control" value="{{ old.prenom }}">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span></div>
						{% if errors.prenom %}
						<span class="help-block">{{ errors.prenom | first }}</span>
						{% endif %}
					</div>

					<div class="form-group{{ errors.email ? ' has-error' : '' }}">
						<label for="email">Email</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="text" name="email" id="email" placeholder="toi@domaine.com" class="form-control" value="{{ old.email }}">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span></div>
						{% if errors.email %}
						<span class="help-block">{{ errors.email | first }}</span>
						{% endif %}
					</div>

					<div class="form-group{{ errors.password ? ' has-error' : '' }}">
						<label for="password">Mot de passe</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="password" name="password" id="password" class="form-control">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span></div>
						{% if errors.password %}
						<span class="help-block">{{ errors.password | first }}</span>
						{% endif %}
					</div>	

					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary center-block">S'inscrire</button>
					</div>

					{{ csrf.field | raw }}

				</form>
			</div>

		</div>
			
	</div>

{% endblock %}


				