{% extends 'app.twig' %}

{% block content %}

<h1><I><font color="red" face="arial" size="25">Ajouter une Soirée </font></h1> <br>

	<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<div class="panel panel-default">
			<div class="panel-heading" align="center"><B><font color="blue" size="4">Ajouter</font></B></div>
			<div class="panel-body">

				<form action="{{ path_for('ajout.ajoutSoiree') }}" method="post" enctype="multipart/form-data">

					<div class="form-group{{ errors.titre ? ' has-error' : '' }}">
						<label for="titre">Nom de soirée</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="text" name="titre" id="titre" placeholder="Soirée étudiante" class="form-control" value="{{ old.titre }}">
						<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
						</div>
						{% if errors.titre %}
						<span class="help-block">{{ errors.titre | first }}</span>
						{% endif %}
					</div>

					<div class="form-group{{ errors.date ? ' has-error' : '' }}">
						<label for="date">Date</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="date" name="date" id="date" placeholder="" class="form-control" value="{{ old.date }}">
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						</div>
						{% if errors.date %}
						<span class="help-block">{{ errors.date | first }}</span>
						{% endif %}
					</div>

					<div class="form-group{{ errors.heure ? ' has-error' : '' }}">
						<label for="heure">Heure</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="time" name="heure" id="heure" placeholder="" class="form-control" value="{{ old.heure }}">
						<span class="input-group-addon"><i class="glyphicon glyphicon-dashboard"></i></span>
						</div>
						{% if errors.heure %}
						<span class="help-block">{{ errors.heure | first }}</span>
						{% endif %}
					</div>

					<div class="form-group{{ errors.lieu ? ' has-error' : '' }}">
						<label for="lieu">Lieu</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="text" name="lieu" id="lieu" placeholder="Paris" class="form-control" value="{{ old.lieu }}">
						<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
						</div>
						{% if errors.lieu %}
						<span class="help-block">{{ errors.lieu | first }}</span>
						{% endif %}
					</div>

					<div class="form-group{{ errors.description ? ' has-error' : '' }}">
						<label for="description">Description</label>
						<textarea name="description" id="description" placeholder="" class="form-control" rows=10 COLS=40>{{ old.description }}</textarea>
						{% if errors.description %}
						<span class="help-block">{{ errors.description | first }}</span>
						{% endif %}
					</div>

				

					<div class="form-group{{ errors.image ? ' has-error' : '' }}">
						<label for="image">Image</label>
						<i class="glyphicon glyphicon-folder-open"></i>
        				<input type="hidden" name="MAX_FILE_SIZE" value="1000000" /> 
        				<input type="file" name="image" size=50 />
        				{% if errors.image %}
						<span class="help-block">{{ errors.image | first }}</span>
						{% endif %}
        			</div>
      				
        			<br>
				
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary center-block">Ajouter</button>
					</div>

					{{ csrf.field | raw }}

				</form>
			</div>

		</div>
			
	</div>


{% endblock %}



